<template>
  <div>
    <ul class="pageList">
      <li 
        v-for="(item, index) in listArr" 
        :key="index" 
        class="pageItem"
    >
        <p class="pageTitle" @click="titleClick(item.count, item._id, item)">
          {{ item.title }}
        </p>
        <div class="pageContet" @click="titleClick(item.count, item._id, item)">
          <span>{{ item.content }}</span>
        </div>
        <div class="pageFoot">
          <span>点击次数：</span>
          <span>{{ item.count }}</span>
          <button @click="goodClick(item.good, item._id, item)">
            <span
              class="glyphicon glyphicon-thumbs-up"
              aria-hidden="true"
            ></span>
            <span class="goodNum">{{ item.good }}</span>
          </button>
          <button @click="badClick(item.bad, item._id, item)">
            <span
              class="glyphicon glyphicon-thumbs-down"
              aria-hidden="true"
            ></span>
            <span>{{ item.bad }}</span>
          </button>
          <span class="timeShow">{{ item.time }}</span>
        </div>
        <div class="pageClass">
          <p>分类：{{ item.classify }}</p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "PageListShow",
  props: {
    listArr: Array,
  },
  methods: {
    titleClick: function (countNum, idNum, item) {
      item.count++;
      axios.post("http://localhost:9999/AddGood", {
        number: countNum,
        id: idNum,
        type: "count",
      });
      this.$router.push(`/${item.classify}/${idNum}`);
    },
    goodClick: function (goodNum, idNum, item) {
      item.good++;
      axios.post("http://localhost:9999/AddGood", {
        number: goodNum,
        id: idNum,
        type: "good",
      });
    },
    badClick: function (badNum, idNum, item) {
      item.bad++;
      axios.post("http://localhost:9999/AddGood", {
        number: badNum,
        id: idNum,
        type: "bad",
      });
    },
  },
};
</script>
<style>
.pageItem {
  height: 160px;
  padding-left: 20px;
  margin-top: 20px;
}
.pageTitle {
  font-size: 20px;
}
.pageTitle:hover {
  color: lightsteelblue;
  text-decoration: underline;
}
/* 设置文本超过两行省略 */
.pageContet {
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 10px;
}
.pageContet:hover {
  text-decoration: underline;
}
.pageFoot {
  height: 30px;
  line-height: 30px;
}
.pageFoot button {
  width: 45px;
  height: 30px;
  margin-left: 15px;
}
.timeShow {
  position: absolute;
  right: 20px;
}
</style>