<template>
  <div class="navWrap">
    <ul class="navList">
      <li
        class="navItem"
        v-for="(item, index) in getNavList"
        :key="index"
        @click="toClaasifyPage(item)"
      >
        <button>{{ item }}</button>
      </li>
    </ul>
  </div>
</template>
<script>
import { mapActions, mapState, mapGetters } from "vuex";
export default {
  name: "NavList",
  created() {
    this.requestDataList();
  },
  methods: {
    ...mapActions(["requestDataList"]),
    toClaasifyPage: function (e) {
      this.$router.push(`/${e}`);
    },
  },
  computed: {
    ...mapState(["dataList"]),
    ...mapGetters(["getNavList"]),
  },
};
</script>
<style>
.navWrap {
  height: 100%;
}
.navList {
  height: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.navItem {
  width: 70px;
  height: 30px;
}
.navItem button {
  width: 100%;
  height: 100%;
}
</style>