<template>
  <div>
      <div class="topBtns">
          <!-- 请求上/下一个数据的btn -->
          <!-- 根据条件判断是否渲染 :v-show -->
          <button class="btn btn-success" v-show="isFirst()" @click="goToLastPage">上一页</button>
          <button class="btn btn-success" v-show="getCanClick" @click="goToNextPage">下一页</button>
    </div>

    <PageListShow :listArr=getHotList></PageListShow>

  </div>
</template>
<script>
import PageListShow from './../views/list'
import { mapActions, mapGetters } from "vuex";
var index 
var num
export default {
  name: "PageList",
  created() {
    index = 0;
    // 如果文章有18篇,index从0开始,那么index=3时返回的结果应该是false
    num = 5;
    this.requestHotPage({ index, num });
  },
  components:{
    PageListShow
  },
  methods: {
    ...mapActions(["requestHotPage"]),
    goToNextPage:function(){
        index++
        this.requestHotPage({ index, num })
    },
    goToLastPage:function(){
        index--
        this.requestHotPage({ index, num })
    },
    isFirst:function(){
        return index == 0?false:true
    }
  },
  computed: {
    ...mapGetters(["getHotList", "getCanClick"]),
  },
  
};
</script>
<style>
.topBtns{
    position: absolute;
    right: 20px;
}
</style>