<template>
  <div>
    <div>
        <button type="button" class="btn btn-primary" @click="goToHome">
            返回首页
        </button>
    </div>

    <PageListShow :listArr=getClassifyList></PageListShow>

  </div>
</template>
<script>
import PageListShow from './../views/list'
import { mapActions, mapGetters } from "vuex";
export default {
  name: "ClassifyPage",
  created() {
    let classify = this.$route.params.classify;
    this.requestClassifyList(classify);
  },
  components:{
    PageListShow
  },
  methods: {
    goToHome:function(){
        this.$router.push('/')
    },
    ...mapActions(["requestClassifyList"])
  },
  computed: {
    ...mapGetters(["getClassifyList"]),
  },
};
</script>