<template>
  <div>
    <div class="topBtn">
      <button @click="goToWrite" class="btn btn-info">发表文章</button>
    </div>
    <div class="topNav">
      <NavList></NavList>
    </div>
    <div class="bodyList">
      <p>热门推荐:</p>
      <PageList></PageList>
    </div>
  </div>
</template>

<script>
import NavList from "../views/nav.vue";
import PageList from "../views/pageList.vue";
export default {
  name: "HomePage",
  components: {
    NavList,
    PageList,
  },
  created() {
  },
  methods: {
    goToWrite: function () {
      this.$router.push("/write");
    },
  },
};
</script>
<style>
.topBtn {
  height: 40px;
}
.topNav {
  width: 100%;
  height: 30px;
}
.bodyList {
  margin-top: 10px;
}
</style>