<template>

  <div class="pageBox">
    <div>
        <button type="button" class="btn btn-primary" @click="goToHome">
            返回首页
        </button>
    </div>
    <h1>{{ getPageObj.title }}</h1>
    <span class="pageBody">{{ getPageObj.content }}</span>
    <div class="foot">
      <span>点击次数：{{ getPageObj.count }}</span>
      <button @click="goodClick(getPageObj.good, getPageObj._id, getPageObj)">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <span>{{ getPageObj.good }}</span>
      </button>
      <button  @click="badClick(getPageObj.bad,getPageObj._id,getPageObj)">
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span>{{ getPageObj.bad }}</span>
      </button>
    </div>
    <p>{{ getPageObj.time }}</p>
    <div class="classifyFoot">
      分类专栏：
      <button @click="toClassify(getPageObj.classify)" class="btn btn-success">{{ getPageObj.classify }}</button>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import axios from "axios";
export default {
  name: "PageDetail",
  created() {
    var { id } = this.$route.params;
    this.requestPageDetail(id);
  },
  computed: {
    ...mapState(["dataList", "pageObj"]),
    ...mapGetters(["getPageObj"]),
  },
  methods: {
    goToHome:function(){
        this.$router.push('/')
    },
    ...mapActions(["requestPageDetail"]),
    goodClick: function (goodNum, idNum, item) {
      item.good++;

      axios
        .post("http://localhost:9999/AddGood", {
          number: goodNum,
          id: idNum,
          type: "good",
        })
    },
    badClick:function(badNum,idNum,item){
        item.bad++
        axios.post("http://localhost:9999/AddGood",{number:badNum,id:idNum,type:"bad"})
    },
    toClassify:function(classify){
        this.$router.push(`/${classify}`)
    }
  },
};
</script>
<style>
.pageBox {
  margin: 0 20px;
}
.foot {
  margin-top: 10px;
  margin-bottom: 10px;
}
.foot button {
  width: 45px;
  height: 30px;
  margin-left: 15px;
}
.classifyFoot{
    height: 35px;
}
</style>