<template>
  <div class="writeBox">
    <div>
      <button type="button" class="btn btn-primary" @click="goToHome">
        返回首页
      </button>
    </div>
    <input type="text" placeholder="请输入标题" @input="getTitle($event)" :value="getObjTitle"/>
    <textarea placeholder="输入内容" @input="getContent($event)" :value="getObjContent"></textarea>
    <input type="text" placeholder="输入分类名" @input="getClassify($event)" :value="getObjClassify"/>
    <button @click="submitNewPage" class="submitBtn btn btn-primary">提交</button>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "WritePage",
  methods: {
    goToHome: function () {
      this.$router.push("/");
    },
    ...mapActions(["getInputTitle", "getInputContent", "getInputClassify","submitPage"]),
    getTitle: function (e) {
      let value1 = e.target.value;
      this.getInputTitle(value1);
    },
    getContent: function (e) {
      let value2 = e.target.value;
      this.getInputContent(value2);
    },
    getClassify: function (e) {
      let value3 = e.target.value;
      this.getInputClassify(value3);
    },
    submitNewPage: function () {
      if (!this.getObjTitle) {
        alert("请输入标题");
      }
      if (!this.getObjContent) {
        alert("请输入内容");
      }
      if (!this.getObjClassify) {
        alert("请输入分类");
      }
      if (this.getObjTitle && this.getObjContent && this.getObjClassify) {
        let obj = {
          title: this.getObjTitle,
          content: this.getObjContent,
          classify: this.getObjClassify,
        };
        this.submitPage(obj)
        alert("文章发表成功");
      }
    },
  },
  computed: {
    ...mapGetters(["getObjTitle", "getObjContent", "getObjClassify"]),
  },
};
</script>
<style>
.writeBox {
  height: 100%;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}
.writeBox textarea {
  flex-grow: 1;
}
.writeBox input{
  height: 50px;
}
.btn{
  margin-bottom: 50px;
}
.submitBtn {
  margin-bottom: 50px;
  width:70px;
  height: 50px;
}
</style>